.recipe-page-container1 {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
   
  .recipe-page-recipe-page {
    width: 100%;
    height: 3525px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(15, 16, 14, 1);
  }
   
  .recipe-page-component3 {
    top: 0px;
    left: -36px;
    width: 1504px;
    height: 3539px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .recipe-page-rectangle7 {
    top: 3463px;
    left: 25px;
    width: 1291px;
    height: 62px;
    position: absolute;
  }
   
  .recipe-page-text10 {
    left: 670px;
    color: rgba(255, 255, 255, 1);
    width: 297px;
    bottom: 26px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-rectangle14 {
    top: 1254px;
    left: 177px;
    width: 349px;
    height: 65px;
    position: absolute;
    border-radius: 11px;
  }
   
  .recipe-page-rectangle20 {
    top: 1254px;
    left: 587px;
    width: 349px;
    height: 65px;
    position: absolute;
    border-radius: 11px;
  }
   
  .recipe-page-text11 {
    top: 1247px;
    left: 201px;
    color: rgba(113, 182, 155, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: center;
    font-family: Afacad;
    font-weight: 400;
    line-height: 80px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-rectangle161 {
    top: 1274px;
    left: 478px;
    width: 18px;
    height: 27px;
    position: absolute;
    border-radius: 2px;
  }
   
  .recipe-page-rectangle171 {
    top: 1274px;
    left: 493px;
    width: 18px;
    height: 27px;
    position: absolute;
    border-radius: 2px;
  }
   
  .recipe-page-text12 {
    top: 1245px;
    left: 606px;
    color: rgba(113, 182, 155, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: center;
    font-family: Afacad;
    font-weight: 400;
    line-height: 80px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-screenshot20251015at23121pm1 {
    top: 0px;
    left: 0px;
    width: 1504px;
    height: 848px;
    position: absolute;
  }
   
  .recipe-page-rectangle6 {
    top: 40px;
    right: 108px;
    width: 356px;
    height: 48px;
    position: absolute;
    border-radius: 22px;
  }
   
  .recipe-page-text13 {
    top: 47px;
    left: 1053px;
    color: rgba(94, 93, 93, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: italic;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-frame1 {
    gap: 10px;
    top: 779px;
    left: 470px;
    width: 93px;
    height: 60px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .recipe-page-frame21 {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .recipe-page-text14 {
    color: rgba(255, 247, 228, 1);
    height: auto;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    margin-left: 70px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-frame3 {
    gap: 10px;
    top: 779px;
    left: 767px;
    width: 111px;
    height: 60px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .recipe-page-frame22 {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .recipe-page-text15 {
    color: rgba(255, 247, 228, 1);
    height: auto;
    font-size: 30px;
    font-style: Bold;
    text-align: left;
    font-family: Afacad;
    font-weight: 700;
    line-height: normal;
    margin-left: 300px;
    font-stretch: normal;
    margin-right: var(--dl-layout-space-twounits);
    text-decoration: none;
  }
   
  .recipe-page-text16 {
    top: 789px;
    left: 196px;
    color: rgba(255, 247, 228, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text17 {
    top: 791px;
    color: rgba(255, 247, 228, 1);
    right: 177px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-icon1 {
    top: 52px;
    right: 124px;
    width: 22px;
    height: 21px;
    position: absolute;
  }
   
  .recipe-page-text18 {
    top: 901px;
    left: 336px;
    color: rgb(150, 186, 170);
    height: auto;
    position: absolute;
    font-size: 230px;
    font-style: Regular;
    text-align: center;
    font-family: Luxurious Script;
    font-weight: 400;
    line-height: 0.9;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text21 {
    font-size: 60px;
    font-family: "Afacad";
  }
   
  .recipe-page-text22 {
    top: 1750px;
    left: 177px;
    color: rgba(255, 255, 255, 1);
    width: 285px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text23 {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
   
  .recipe-page-text25 {
    color: rgba(113, 182, 155, 1);
  }
   
  .recipe-page-text28 {
    top: 2271px;
    left: 177px;
    color: rgba(255, 255, 255, 1);
    width: 346px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text29 {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
   
  .recipe-page-text31 {
    color: rgba(113, 182, 155, 1);
  }
   
  .recipe-page-text34 {
    top: 2270px;
    left: 587px;
    color: rgba(255, 255, 255, 1);
    width: 352px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text35 {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
   
  .recipe-page-text37 {
    color: rgba(113, 182, 155, 1);
  }
   
  .recipe-page-text40 {
    top: 2272px;
    color: rgba(255, 255, 255, 1);
    right: 158px;
    width: 352px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text41 {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
   
  .recipe-page-text43 {
    color: rgba(113, 182, 155, 1);
  }
   
  .recipe-page-text46 {
    top: 2787px;
    color: rgba(255, 255, 255, 1);
    right: 158px;
    width: 352px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text47 {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
   
  .recipe-page-text49 {
    color: rgba(113, 182, 155, 1);
  }
   
  .recipe-page-text52 {
    top: 3293px;
    color: rgb(255, 255, 255);
    right: 158px;
    width: 352px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text53 {
    color: #ffffff;
    font-weight: 600;
  }
   
  .recipe-page-text55 {
    color: #71b69b;
  }
   
  .recipe-page-text58 {
    top: 3292px;
    left: 587px;
    color: rgba(255, 255, 255, 1);
    width: 352px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text59 {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
   
  .recipe-page-text61 {
    color: rgba(113, 182, 155, 1);
  }
   
  .recipe-page-text64 {
    top: 3291px;
    left: 177px;
    color: rgba(255, 255, 255, 1);
    width: 352px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text65 {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
   
  .recipe-page-text67 {
    color: rgba(113, 182, 155, 1);
  }
   
  .recipe-page-text70 {
    top: 2788px;
    left: 587px;
    color: rgba(255, 255, 255, 1);
    width: 352px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text71 {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
   
  .recipe-page-text73 {
    color: rgba(113, 182, 155, 1);
  }
   
  .recipe-page-text76 {
    top: 2786px;
    left: 177px;
    color: rgba(255, 255, 255, 1);
    width: 352px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text77 {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
   
  .recipe-page-text79 {
    color: rgba(113, 182, 155, 1);
  }
   
  .recipe-page-text82 {
    top: 1750px;
    color: rgba(255, 255, 255, 1);
    right: 221px;
    width: 285px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text83 {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
   
  .recipe-page-text85 {
    color: rgba(113, 182, 155, 1);
  }
   
  .recipe-page-fr-s12 {
    top: 1378px;
    right: 158px;
    width: 349px;
    height: 349px;
    position: absolute;
  }
   
  .recipe-page-skrc11 {
    top: 1897px;
    left: 177px;
    width: 349px;
    height: 349px;
    position: absolute;
  }
   
  .recipe-page-mpt11 {
    top: 1895px;
    left: 587px;
    width: 349px;
    height: 349px;
    position: absolute;
  }
   
  .recipe-page-e11 {
    top: 2407px;
    right: 158px;
    width: 354px;
    height: 354px;
    position: absolute;
  }
   
  .recipe-page-t11 {
    top: 2407px;
    left: 587px;
    width: 354px;
    height: 354px;
    position: absolute;
  }
   
  .recipe-page-fss11 {
    top: 2407px;
    left: 177px;
    width: 354px;
    height: 354px;
    position: absolute;
  }
   
  .recipe-page-scq11 {
    top: 2922px;
    right: 158px;
    width: 349px;
    height: 349px;
    position: absolute;
  }
   
  .recipe-page-sq-c11 {
    top: 2922px;
    left: 587px;
    width: 349px;
    height: 349px;
    position: absolute;
  }
   
  .recipe-page-clc11 {
    top: 2922px;
    left: 177px;
    width: 349px;
    height: 349px;
    position: absolute;
  }
   
  .recipe-page-text88 {
    top: 380px;
    left: 542px;
    color: rgba(255, 247, 228, 1);
    height: auto;
    position: absolute;
    font-size: 90px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-rectangle172 {
    top: 1274px;
    left: 897px;
    width: 18px;
    height: 27px;
    position: absolute;
    border-radius: 2px;
  }
   
  .recipe-page-rectangle162 {
    top: 1274px;
    left: 882px;
    width: 18px;
    height: 27px;
    position: absolute;
    border-radius: 2px;
  }
   
  .recipe-page-fs12 {
    top: 1376px;
    left: 587px;
    width: 349px;
    height: 349px;
    position: absolute;
  }
   
  .recipe-page-q11 {
    top: 1379px;
    left: 177px;
    width: 349px;
    height: 349px;
    position: absolute;
  }
   
  .recipe-page-tcc11 {
    top: 1894px;
    right: 158px;
    width: 349px;
    height: 349px;
    position: absolute;
  }
   
  .recipe-page-text89 {
    top: 1750px;
    left: 585px;
    color: rgb(255, 255, 255);
    width: 285px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: SemiBold;
    text-align: left;
    font-family: Afacad;
    font-weight: 600;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .recipe-page-text90 {
    color: #ffffff;
    font-weight: 600;
  }
   
  .recipe-page-text92 {
    color: #71b69b;
  }
   
  .recipe-page-link {
    display: contents;
  }
   
  .recipe-page-container2 {
    right: 50px;
    border: 1px solid #ffffff5c;
    bottom: 30px;
    display: flex;
    z-index: 22;
    position: fixed;
    box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
    min-height: auto;
    align-items: center;
    padding-top: 8px;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    backdrop-filter: blur(6px);
    background-color: rgba(41, 41, 41, 0.41);
  }
   
  .recipe-page-icon2 {
    width: 24px;
    margin-right: 4px;
  }
   
  .recipe-page-text95 {
    color: white;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  