.homepage-container1 {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
   
  .homepage-homepage {
    width: 100%;
    height: 3525px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(15, 16, 14, 1);
  }
   
  .homepage-component1 {
    top: 0px;
    left: -40px;
    width: 1508px;
    height: 3539px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: flex-end;
  }
   
  .homepage-screenshot20251015at23121pm1 {
    top: 0px;
    left: 4px;
    width: 1504px;
    height: 848px;
    position: absolute;
  }
   
  .homepage-rectangle6 {
    top: 36px;
    right: 106px;
    width: 356px;
    height: 48px;
    position: absolute;
    border-radius: 22px;
  }
   
  .homepage-frame1 {
    gap: 10px;
    top: 779px;
    left: 474px;
    width: 93px;
    height: 60px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .homepage-frame21 {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .homepage-text10 {
    color: rgba(255, 247, 228, 1);
    height: auto;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    margin-left: 70px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-frame3 {
    gap: 10px;
    top: 779px;
    left: 771px;
    width: 111px;
    height: 60px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .homepage-frame22 {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .homepage-text11 {
    color: rgb(255, 247, 228);
    height: auto;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: "Afacad";
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    font-stretch: normal;
    margin-right: var(--dl-layout-space-twounits);
    text-decoration: none;
  }
   
  .homepage-plainwhiteporcelainplatewithsmoothsurfaceceramicdi1 {
    top: 1891px;
    left: 380px;
    width: 740px;
    height: 740px;
    position: absolute;
  }
   
  .homepage-plainwhiteporcelainplatewithsmoothsurfaceceramicdi2 {
    top: 1170px;
    left: 381px;
    width: 740px;
    height: 740px;
    position: absolute;
  }
   
  .homepage-plainwhiteporcelainplatewithsmoothsurfaceceramicdi3 {
    left: 360px;
    width: 740px;
    bottom: 162px;
    height: 740px;
    position: absolute;
  }
   
  .homepage-text12 {
    top: 2199px;
    left: 531px;
    color: rgba(113, 182, 155, 1);
    width: 450px;
    height: auto;
    position: absolute;
    font-size: 80px;
    font-style: Bold;
    text-align: center;
    font-family: Afacad;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-a1060201 {
    top: 1321px;
    left: 127px;
    width: 319px;
    height: 655px;
    position: absolute;
  }
   
  .homepage-silver-butter-knife-png-file1 {
    top: 1935px;
    left: 600px;
    width: 726px;
    height: 738px;
    position: absolute;
  }
   
  .homepage-rectangle7 {
    top: 3463px;
    left: 39px;
    width: 1280px;
    height: 62px;
    position: absolute;
  }
   
  .homepage-search {
    top: 43px;
    right: 125px;
    width: 29px;
    height: 29px;
    position: absolute;
  }
   
  .homepage-text13 {
    top: 373px;
    left: 539px;
    color: rgb(255, 247, 228);
    height: auto;
    position: absolute;
    font-size: 90px;
    font-style: Regular;
    text-align: left;
    font-family: "Afacad";
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-text14 {
    top: 42px;
    left: 1059px;
    color: rgba(94, 93, 93, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: italic;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-text15 {
    top: 786px;
    left: 151px;
    color: rgba(255, 247, 228, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Bold;
    text-align: left;
    font-family: Afacad;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-text16 {
    top: 867px;
    left: 375px;
    color: rgb(150, 186, 170);
    height: auto;
    position: absolute;
    font-size: 230px;
    font-style: Regular;
    text-align: center;
    font-family: Luxurious Script;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-text19 {
    top: 867px;
    left: 375px;
    color: rgb(150, 186, 170);
    height: auto;
    position: absolute;
    font-size: 230px;
    font-style: Regular;
    text-align: center;
    font-family: Luxurious Script;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-text22 {
    left: 361px;
    color: rgba(113, 182, 155, 1);
    width: 732px;
    bottom: 480px;
    height: auto;
    position: absolute;
    font-size: 80px;
    font-style: Bold;
    text-align: center;
    font-family: Afacad;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-a1060202 {
    right: 148px;
    width: 342px;
    bottom: 136px;
    height: 627px;
    position: absolute;
  }
   
  .homepage-text23 {
    top: 1432px;
    left: 493px;
    color: rgba(113, 182, 155, 1);
    width: 535px;
    height: auto;
    position: absolute;
    font-size: 75px;
    font-style: Bold;
    text-align: center;
    font-family: Afacad;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-text24 {
    top: 1088px;
    left: 435px;
    color: rgb(150, 186, 170);
    height: auto;
    position: absolute;
    font-size: 230px;
    font-style: Regular;
    text-align: center;
    font-family: "Afacad";
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-text25 {
    font-size: 60px;
  }
   
  .homepage-text27 {
    top: 791px;
    color: rgba(255, 247, 228, 1);
    right: 157px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-text28 {
    left: 613px;
    color: rgb(255, 247, 228);
    width: 297px;
    bottom: 16px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: "Afacad";
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .homepage-link {
    display: contents;
  }
   
  .homepage-container2 {
    right: 50px;
    border: 1px solid #ffffff5c;
    bottom: 30px;
    display: flex;
    z-index: 22;
    position: fixed;
    box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
    min-height: auto;
    align-items: center;
    padding-top: 8px;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    backdrop-filter: blur(6px);
    background-color: rgba(41, 41, 41, 0.41);
  }
   
  .homepage-icon1 {
    width: 24px;
    margin-right: 4px;
  }
   
  .homepage-text29 {
    color: white;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }