.contact-submission-page-container1 {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
   
  .contact-submission-page-contact-submission-page {
    width: 100%;
    height: 1596px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(15, 16, 14, 1);
  }
   
  .contact-submission-page-component6 {
    top: 0px;
    left: -36px;
    width: 1504px;
    height: 1596px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .contact-submission-page-text10 {
    top: 768px;
    left: 177px;
    color: rgba(165, 80, 56, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .contact-submission-page-frame1 {
    gap: 10px;
    top: 758px;
    left: 451px;
    width: 117px;
    height: 73px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .contact-submission-page-frame21 {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .contact-submission-page-text11 {
    color: rgba(165, 80, 56, 1);
    height: auto;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .contact-submission-page-frame3 {
    gap: 10px;
    top: 758px;
    left: 748px;
    width: 142px;
    height: 73px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .contact-submission-page-frame22 {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .contact-submission-page-text12 {
    color: rgba(165, 80, 56, 1);
    height: auto;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .contact-submission-page-text13 {
    top: 768px;
    left: 1047px;
    color: rgba(165, 80, 56, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Bold;
    text-align: left;
    font-family: Afacad;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .contact-submission-page-rectangle7 {
    top: 1522px;
    left: 36px;
    width: 1280px;
    height: 62px;
    position: absolute;
  }
   
  .contact-submission-page-rectangle13 {
    left: 532px;
    width: 459px;
    bottom: 218px;
    height: 73px;
    position: absolute;
    border-radius: 17px;
  }
   
  .contact-submission-page-screenshot20251015at23121pm1 {
    top: 0px;
    left: 0px;
    width: 1504px;
    height: 848px;
    position: absolute;
  }
   
  .contact-submission-page-rectangle6 {
    top: 36px;
    right: 106px;
    width: 356px;
    height: 48px;
    position: absolute;
    border-radius: 22px;
  }
   
  .contact-submission-page-text14 {
    top: 41px;
    left: 1059px;
    color: rgba(94, 93, 93, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: italic;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .contact-submission-page-text15 {
    top: 373px;
    left: 539px;
    color: rgba(255, 247, 228, 1);
    height: auto;
    position: absolute;
    font-size: 90px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .contact-submission-page-frame4 {
    gap: 10px;
    top: 779px;
    left: 470px;
    width: 93px;
    height: 60px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .contact-submission-page-frame23 {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .contact-submission-page-text16 {
    color: rgba(255, 247, 228, 1);
    height: auto;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    margin-left: 70px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .contact-submission-page-frame5 {
    gap: 10px;
    top: 779px;
    left: 767px;
    width: 111px;
    height: 60px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .contact-submission-page-frame24 {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .contact-submission-page-text17 {
    color: rgba(255, 247, 228, 1);
    height: auto;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    font-stretch: normal;
    margin-right: var(--dl-layout-space-twounits);
    text-decoration: none;
  }
   
  .contact-submission-page-text18 {
    top: 786px;
    left: 151px;
    color: rgba(255, 247, 228, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .contact-submission-page-icon1 {
    top: 46px;
    right: 123px;
    width: 25px;
    height: 28px;
    position: absolute;
  }
   
  .contact-submission-page-text19 {
    top: 928px;
    left: 408px;
    color: rgb(150, 186, 170);
    height: auto;
    position: absolute;
    font-size: 230px;
    font-style: Regular;
    text-align: center;
    font-family: Luxurious Script;
    font-weight: 400;
    line-height: 0.9;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .contact-submission-page-text22 {
    font-size: 60px;
    font-family: "Afacad";
  }
   
  .contact-submission-page-arrow1 {
    top: 1261px;
    left: 510px;
    width: 50px;
    height: 1px;
    position: absolute;
  }
   
  .contact-submission-page-text23 {
    top: 792px;
    color: rgba(255, 247, 228, 1);
    right: 20px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Bold;
    margin-top: 0px;
    text-align: left;
    font-family: Afacad;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 157px;
    margin-bottom: 0px;
    text-decoration: none;
  }
   
  .contact-submission-page-text24 {
    left: 715px;
    color: rgba(113, 182, 155, 1);
    bottom: 232px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: Medium;
    text-align: left;
    font-family: Afacad;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .contact-submission-page-text25 {
    left: 643px;
    color: rgba(255, 247, 228, 1);
    width: 297px;
    bottom: 28px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Afacad;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .contact-submission-page-link {
    display: contents;
  }
   
  .contact-submission-page-container2 {
    right: 50px;
    border: 1px solid #ffffff5c;
    bottom: 30px;
    display: flex;
    z-index: 22;
    position: fixed;
    box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
    min-height: auto;
    align-items: center;
    padding-top: 8px;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    backdrop-filter: blur(6px);
    background-color: rgba(41, 41, 41, 0.41);
  }
   
  .contact-submission-page-icon2 {
    width: 24px;
    margin-right: 4px;
  }
   
  .contact-submission-page-text26 {
    color: white;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }